<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/custom.css">
	<link rel="stylesheet" href="/styles/index.css">
	<link rel="stylesheet" href="/styles/react-datetime.css">
	<link rel="stylesheet" href="/styles/react-spinner.css">
	<link rel="stylesheet" href="/styles/react-select.min.css">
</head>

<body>
	<nav class="navbar navbar-default navbar-sticky" role="navigation">
		<div class="navbar-header text-center">
			<a class="navbar-brand text-center" href="/">
				<strong>Pollinstant</strong>
			</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<li id="ios"><a href="/aboutus"><strong>Our Services</strong></a></li>
				<li id="svn"><a href="/"><strong>Community</strong></a></li>
				{{#if user}}
				<li id="svn"><a href="/login"><strong>Logout</strong></a></li>
				{{else}}
				<li id="svn"><a href="/login"><strong>Login</strong></a></li>
				{{/if}}
			</ul>
		</div>
	</nav>
	{{{body}}}
	<footer class="navbar-default navbar-sticky" style="padding: 1.5em 1.5em ">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-xs-12 col-md-6 col-sm-6">
					<a href="/"><span><small>Our Services</small></span></a><br/>
					<a href="/"><span><small>Home</small></span></a><br/>
				</div>
				<div class="col-lg-4 col-xs-12 col-md-6 col-sm-6">
					<span>Contact Us</span><br/>
					<span><small>070348928/020-490209</small></span><br/>
					<span><small>Box 3478-10944 Nairobi</small></span><br/>
					<span><small>Kindaruma House Muindi Mbingu Street</small></span>
				</div>
				<div class="col-lg-4 col-xs-12 col-md-6 col-sm-6">
					{{#if user}}
					<a href="/auth/logout"><span><small>Logout</small></span></a><br/>
					 {{else}}
					<a href="/login"><span><small>Login</small></span></a><br/>
					{{/if}}
					<a href="/"><span><small>Settings</small></span></a><br/>
				</div>

			</div>
			<div class="row">
				<div>
					<p style="text-align: center; color: aqua"><small>Copyright pollista 2017</small></p>
				</div>
			</div>
		</div>
	</footer>
	<script src="/javascript/jquery.min.js"></script>
	<script src="/javascript/jquery.validate.min.js"></script>
	<script src="/javascript/bootstrap-datetimepicker.min.js"></script>
	<script src="/javascript/logic.js"></script>
	<script type="text/javascript" src="/javascript/main.b13260d6.js"></script>
</body>
</html>
