
<div class="container text-right" style="padding-top: 4em; margin-bottom: 17.8em; background:#e4e4f2;">
	<h2 class="text-centre">500 - Server Error</h2>
	<h3 class="text-centre">Please try again later</h3>
</div>