<div class="jumbotron" style="">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-3 col-md-offset-3">
			<h2>Welcome to pollinstant</h2>
			<p>We will help you carry out Surveys at the convinience of your mobile phone, tablet or computer. You can also register to earn free airtime eachtime you attend a survey</p>
			<a href="/register" class="btn btn-primary">Start Now</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" id="aboutus">
		<div class=" col-sm-offset-1 col-md-5 col-sm-5 col-xs-12 col-md-offset-1">
			<!--img src="_images/b_icon.jpg" alt="" /-->
			<i class="glyphicon glyphicon-scale"></i>
			<h2>Large User Base</h2>
			<p>Your surveys will be responded by our many users who are categorised by age, gender and regions to enhance accuracy of results obtained</p>
			<a href="#" class="btn btn-default">Read More</a>
		</div>
		<div class="col-md-5 col-sm-5 col-xs-12 second">
			<i class="glyphicon glyphicon-time"></i>
			<h2>Save Time</h2>
			<p>Our User Interface enables clients to create with minimum effort and deploy them easily for timely results. We also provide realtime results.</p>
			<a href="#" class="btn btn-default">Read More</a>
		</div>
	</div>
	<div class="row" id="aboutus" >
		<div class="col-sm-offset-1 col-md-5 col-sm-5 col-xs-12 col-md-offset-1 ">
			<i class="glyphicon glyphicon-stats"></i>
			<h2>Live Results</h2>
			<p>Clients can download the results of their polls for analysis after users have corresponded. Enhanced visualization through charts and live results</p>
			<a href="#" class="btn btn-default">Read More</a>
		</div>
		<div class="col-md-5 col-sm-5 col-xs-12 second">
			<i class="glyphicon glyphicon-info-sign"></i>
			<h2>Informed Decisions</h2>
			<p>Easily study your customer base and gather important data and make more informed strategic business decisions for improved profits</p>
			<a href="#" class="btn btn-default">Read More</a>
		</div>
	</div>

</div>